/* Fonts */
@font-face {
  font-family: 'Open Sans';
  src: url('/app/assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/app/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Circle Loader */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 16px;
  position: relative;
  animation: rotateAndGrowShrink 5s linear infinite;
  
}

.loader div {
  width: 10px;
  height: 10px;
  background: #006bfD;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
}

.loader div:nth-child(1) { transform: translate(-50%, -50%) rotate(0deg) translate(40px) rotate(-0deg); }
.loader div:nth-child(2) { transform: translate(-50%, -50%) rotate(45deg) translate(40px) rotate(-45deg); }
.loader div:nth-child(3) { transform: translate(-50%, -50%) rotate(90deg) translate(40px) rotate(-90deg); }
.loader div:nth-child(4) { transform: translate(-50%, -50%) rotate(135deg) translate(40px) rotate(-135deg); }
.loader div:nth-child(5) { transform: translate(-50%, -50%) rotate(180deg) translate(40px) rotate(-180deg); }
.loader div:nth-child(6) { transform: translate(-50%, -50%) rotate(225deg) translate(40px) rotate(-225deg); }
.loader div:nth-child(7) { transform: translate(-50%, -50%) rotate(270deg) translate(40px) rotate(-270deg); }
.loader div:nth-child(8) { transform: translate(-50%, -50%) rotate(315deg) translate(40px) rotate(-315deg); }

@keyframes rotateAndGrowShrink {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* Menu */
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #e9ecee;
}

.side-menu {
  padding: 20px;
  
}

.logo {
  width: 50px; 
  height: auto; 
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu li {
  margin-bottom: 10px;
  cursor: pointer; 
}

.side-menu li.selected {
  color: #006bfD; 
}

.top-menu {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 50px;
  color: #000000;
  padding: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Content */
.content {
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

#Table {
  width: 80%;
  margin-top: 70px; 
  margin-left: 200px; 
  border-collapse: collapse;
}

#Table th,
#Table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#Table th {
  background-color: #f2f2f2;
  font-weight: bold;
}


/* Delete */
#deleteButton {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 15px;
  margin-right: 20px; 
  float: right;
}

#deleteButton:hover {
  background-color: #cccccc; 
}

.selected {
  background-color: #e9ecee; 
}

/*Add New */
#addButton,#createButton {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 15px;
  margin-right: 20px; 
  float: right;
}

#addButton:hover,#createButton:hover  {
  background-color: #cccccc; 
}

.form-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 80%;
}

.form-container input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}


/* Back Button */
button {
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  float: left;
}
